input{
    border-radius: 300px;
    text-align: center;
    box-shadow: 2px 1px 11px 0px rgb(0, 145, 255);
}

body{
    background-color: rgb(255, 255, 255);
}

button{
    width: 100px;
    height: 20px;
}

form{
    border: solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 2px 1px 11px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

