@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import'./reset.css';
body {
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header {
box-shadow: 2px 1px 11px 0px rgba(34, 60, 80, 0.2);
}
.navbar{
    display: flex;
    align-items: center; 
    justify-content: space-between;    
    padding: 20px 0;
    
}
.logo {
    font-size: 24px;
    font-weight: 500;

}

.logo span {
    color:#0037ff ;
}
.links{
    display: flex;
    gap:25px;
}
.link {
    font-weight: 500;
    color: #000;
    transition: color .3s ease;
}
.link:hover {
    color: #075eff;
    text-decoration: underline;
}
.hero {
    margin-top: 50px;
}
.hero_section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.car {
    width: 50%;
}
.hero_title {
    font-size: 70px;
    font-weight: 600;
}
.text p {
    font-size: 20px;
    margin-top: 20px;
}

.card {
    border: solid black;
    border-radius: 30px;
    width: 300px;
    height: 550px;
    margin-top: 10px;
    
}

