@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
h1{
    color:#ff6600;
    line-height: 30px;
    letter-spacing: 20px;
}

h2{
    color: #ff6600;
    line-height: 30px;
    letter-spacing: 20px;
}

img {
    border: solid black;
    border-radius: 30px;
    box-shadow: 2px 1px 11px 0px rgb(9, 118, 202);

    
}

a:visited{
    color: rgb(255, 0, 43);
    
}


a:hover{
    color:rgb(0, 0, 0);
}

.container {
    object-fit: cover;
    transition: all .2s linear;
    width: 100%;
    object-fit: cover;

}

body {
    background-color: lightblue;
}





