.btn {
    padding: 7px 14px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(0, 41, 189);
    color: white;
    border-radius: 50px;
    transition-duration: 2s;
    transition-property: backround-color,color;
    transition-timing-function: ease-in;
}

.btn:hover {
    background-color: red;
    color: #000;
    transform: scale(1.1);
}

@keyframes circle{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        background-color: rgb(255, 0, 0);
    }
}

.anime {
    width: 100px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 42, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    
    animation-duration: 0.11s;
    animation-name:circle;
    animation-timing-function: linear;
    animation-iteration-count: 99;
}